---
import Layout from '../../layouts/Layout.astro'
import { decades } from '../../utils/utils'

export function getStaticPaths() {
    return decades.map((decade) => ({ params: { decade } }))
}
const { decade } = Astro.params
---

<Layout title={`Decade: ${decade}`}>
    <div class="flex flex-col gap-4">
        Entering decade {decade}<a href="/select" class="text-blue-400"
            >Back to select</a
        >
    </div>
</Layout>
