---
import Layout from '../layouts/Layout.astro'
import { AttractScreenCoins } from '../components/AttractScreenCoins'
---

<Layout title="Garner Jukebox App">
    <div
        class="relative pt-[175px] card-flip-container h-full w-full flex flex-col items-center"
    >
        <img
            src="/images/RecordLarge.svg"
            alt="Record"
            class="absolute left-[-240px] top-[-240px] rotate-x-animation"
        />
        <img
            src="/images/RecordLarge.svg"
            alt="Record"
            class="absolute top-[425px] left-[400px] rotate-x-animation"
        />
        <img
            src="/images/RecordLarge.svg"
            alt="Record"
            class="absolute right-[-200px] top-[-450px] rotate-x-animation"
        />

        <img
            src="/images/TitleEnglish.svg"
            alt="Garner Jukebox"
            class="w-[1150px] absolute card rotate-y-animation"
        />
        <img
            src="/images/TitleSpanish.svg"
            alt="Garner Jukebox"
            class="w-[1300px] pt-20 absolute card rotate-y-animation-reverse"
        />
    </div>
    <div class="flex justify-between absolute bottom-0 w-full pl-24 pr-24">
        <AttractScreenCoins client:load />
    </div>
</Layout>
<style>
    .card-flip-container {
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }
    .card {
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }
</style>
