<nav>
    Select decade
    <ul>
        <li>
            <a href="/decades/1970">1970</a>
        </li>
        <li>
            <a href="/decades/1960">1960</a>
        </li>
        <li>
            <a href="/decades/1950">1950</a>
        </li>
        <li>
            <a href="/videos">Videos</a>
        </li>
    </ul>
</nav>