---
import { Record } from '../components/Record'
import Layout from '../layouts/Layout.astro'
import { DecadeNavigation } from '../components/DecadeNavigation'
---

<Layout title="Select Decade">
    <div class="flex flex-col h-full gap-4 justify-end items-center">
        <div class="flex gap-10 items-center">
            <img src="/images/TitleEnglish.svg" class="max-w-[830px]" />
            <p class="max-w-[400px] font-tuffy">
                Each summer night, Garner comes alive at the Pavilion. For
                decades, it has been the scene of a legendary dance party. And
                everyone is invited!
            </p>
        </div>
        <DecadeNavigation client:visible />
    </div>
</Layout>
