---
import { SendToAttractScreen } from '../components/SendToAttractScreen'

interface Props {
    timeout?: number
}

const { timeout } = Astro.props
---

<div class="pt-24 pb-4 flex flex-col items-center">
    <slot />
    <SendToAttractScreen timeoutInMs={timeout ?? 60000} client:load />
</div>
