---
import 'animate.css'
import '../styles/globals.css'
interface Props {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="h-svh bg-transparent text-white">
        <main
            class="relative w-[2260px] h-[1261px] flex flex-col items-center justify-center bg-attractScreen bg-cover bg-center overflow-clip pl-40 pr-40"
        >
            <img
                src="/images/AttractClip.svg"
                class="absolute z-10 pointer-events-none"
            />
            <slot />
        </main>
    </body>
</html>
<style is:global></style>
